header {
    background-color: #1c2155;
    height: 52px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 24px;
    color: #d8d8d8;
}